<h1 class="text-center mb-5">Welcame to Contact App!</h1>

<h2>Halo, <%= name %>!</h2>

<h2 class="display-6">DAFTAR CONTOH CONTACT :</h2>

<!-- * control flow EJS -->
<% if (mahasiswa.length < 1) { %>
<p>Data Mahasiswa masih kosong.</p>
<% } else { %>
<!-- * looping EJS -->
<% mahasiswa.forEach(map => { %>
<ul>
  <li>Nama: <%= map.name %></li>
  <li>Email: <%= map.email %></li>
</ul>
<% }) %>
<!--  -->
<% } %>
